:root {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.icon {
    height: 20px;
    width: auto;
}


/* DELETE WHEN DONE */
img {
    height: 20px;
    width: auto;
}

header {
    background-color: #fff;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    align-items: center;
}

input {
    width: 400px;
}

#user-tools {
    display: flex;
    justify-content: space-between;
}

#sub-head {
    background-color: #fff;
    grid-column: 2;
}

#sidebar {
    background-color: #009aee;
    grid-row: 1 / 4;
}

#main-contents {
    border: 2px solid black;
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#projects {
    background-color: #e0eaf0;
    padding: 10px;
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.card {
    background-color: #fff;
    height: 250px;
    max-width: 90%;
}


#right-sidebar {
    background-color: #e0eaf0;

}

#announce-block {
    background-color: #fff;
}

#trending-block {
    background-color: #fff;
}


